<div>
    <h2>Raad het getal!</h2>

    <h3>Kies een getal tussen 1 en 100.</h3>
    
    <p>Als je op de button "Is dit het juiste getal" drukt, zal onderaan een hint gegeven worden
        en of het gekozen getal juist is of niet.

    </p>
    <p> Je mag maximum 10 keer gokken.</p>
    <p> Je moet het getal raden binnen de minuut.</p>

    <br>
    <br>
    <br>
    <p>Je hebt nog {{aantalGokken}} pogingen</p>

    <br>

    <mat-form-field class="form-full-width" appearance="fill">
        <mat-label>doe een gok: een getal tussen 1 en 100</mat-label>
        <input matInput min="1" max="100" type="number" [(ngModel)]="value" placeholder="een getal tussen 1 en 100">
        <mat-hint>kijk onderaan naar de gegeven hint</mat-hint>
        <!-- <mat-error *ngIf="value === null">{{getErrorMessage() }}</mat-error> werkt niet waarom?????-->
    </mat-form-field>
    <br>

    <p *ngIf="value != null"> het gekozen getal is {{value}} </p>
    <br>
    
    <p>
        <button mat-raised-button (click)="getalOK()"> gok {{aantalGokkenGedaan }}</button>
    </p>

    <p *ngIf="(value != null)">{{hint}}</p>
    <p *ngIf="(value === null)">{{nullBoodschap}}</p>
    <br>
    <br>



    <p>{{randomNummer}}</p>

</div>


<!-- 
<input [(ngModel)]="name" #ctrl="ngModel" required>

<p>Value: {{ name }}</p>
<p>Valid: {{ ctrl.valid }}</p>

<button (click)="setValue()">Set value</button> -->